@charset "utf-8";
/* CSS Document */

.content .row .span12, .content .row .span10 {
	margin-left: 0px !important;	
}
.well .btn {
	float:left;
}
.btn {
	margin-right:4px;	
}
td .btn {
	float:left;	
}
.next-to-button {
	float:left;
	padding-top:10px;
}
.home-list h4 {
	line-height:3 !important;	
}
.btn-start {
	float:left;	
}