/* Override some defaults */
html, body {
  background-color: #eee;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}

.currently-logged-in {color: #fff;}

/* delete crosses*/
.label a {
  color: #fff;
}

/* LOGIN PAGE */
a.login_provider {
   text-indent: -9999em;
   width: 100px; 
   height: 60px;
   border: 1px solid #DDD;
   margin: 3px;
   float: left;
}

a.login_provider:hover {
   border: 1px solid black;
}


/* profile page: associated accounts */

a.associated_account {
   width: 32px; height: 32px; margin: 3px; float: left;
}

a.facebook {
   background: #FFF url(/img/small/facebook_gray.png) no-repeat center center;
}

a.facebook:hover {
   background: #FFF url(/img/small/facebook.png) no-repeat center center;
}

a.twitter {
   background: #FFF url(/img/small/twitter_gray.png) no-repeat center center;   
}
a.twitter:hover {
   background: #FFF url(/img/small/twitter.png) no-repeat center center;
}
a.google {
background: #FFF url(/img/small/google_gray.png) no-repeat center center
}
a.google:hover {
background: #FFF url(/img/small/google.png) no-repeat center center
}
a.yahoo {
background: #FFF url(/img/small/yahoo_gray.png) no-repeat center center;
}
a.yahoo:hover {
background: #FFF url(/img/small/yahoo.png) no-repeat center center;
}
