

/* Override some defaults */
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: HouschkaAltBlackRegular, "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: normal;
}

.content h2 {
  line-height: 24px;
}

footer {
  background-color: #E8E8E8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E8E8E8), to(#ffffff)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #E8E8E8, #ffffff); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #E8E8E8, #ffffff); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #E8E8E8, #ffffff); /* IE10 */
  background-image:      -o-linear-gradient(top, #E8E8E8, #ffffff); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #E8E8E8, #ffffff);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E8E8E8', EndColorStr='#ffffff'); /* IE6-IE9 */
  border-top: 1px solid #AFAFAF;
}

.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}

/* Page header tweaks */
.page-header {
  background-color: #00AFF0;
  padding: 20px 20px 10px;
  margin: 0px -20px 20px;
  border:0;
  box-shadow: none;
}

.page-header h1 {
  color: #fff;
  text-shadow: #0D6C89 2px 2px 1px;
}

.page-header a {
  color: #fff;
}

.page-header h2 {
  color: #01678A;
  font-family: VAGRoundedBoldRegular, "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: none;
  letter-spacing: 0px;
  margin-top: -10px;
}

.topbar .brand {
  font-family: HouschkaAltBlackRegular, "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-shadow: #335F73 2px 2px 0px;
  font-size: 25px;
}

.topbar .brand:before {
  font-size: 170%;
  line-height: 0px;
  vertical-align: sub;
  padding-right: 6px;
}

.topbar .fill {
  background-color: #00678D;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00678D), to(#0181B2)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #00678D, #0181B2); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #00678D, #0181B2); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #00678D, #0181B2); /* IE10 */
  background-image:      -o-linear-gradient(top, #00678D, #0181B2); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #00678D, #0181B2);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00678D', EndColorStr='#0181B2'); /* IE6-IE9 */
  box-shadow: none;
}

.topbar a {
  font-family: nevisBold, "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 17px 17px;
}

.topbar a:hover {
  text-decoration: none;
}

.topbar a span {
  display: block;
  padding: 0px 3px 2px;
  border-radius: 12px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  -webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;
}

.topbar a:hover span, .topbar a.active span {
  background: #00516F;
  border-top: 1px solid #004057;
  border-left: 1px solid #004057;
}

.topbar .btn {
  border: 0;
}

big {
  font-size:150%;
}

a.danger {
  color:red;
}

.well ul.unstyled li {
  color: #404040;
}

.currently-logged-in {color: #fff;}

/* delete crosses*/
.label a {
  color: #fff;
}

label {
  text-align: left;
}

/* LOGIN PAGE */
a.login_provider {
   text-indent: -9999em;
   width: 100px; 
   height: 60px;
   border: 1px solid #DDD;
   margin: 3px;
   float: left;
}

a.login_provider:hover {
   border: 1px solid black;
}

/*buttons*/

.btn.large {
  font-family: HouschkaAltBlackRegular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 130%;
}

.btn.primary{
  color:#ffffff;
  background-color:#D96301;
  background-repeat:repeat-x;
  background-image:-khtml-gradient(linear, left top, left bottom, from(#FFBA00), to(#D96301));
  background-image:-moz-linear-gradient(top, #FFBA00, #D96301);background-image:-ms-linear-gradient(top, #FFBA00, #D96301);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFBA00), color-stop(100%, #D96301));
  background-image:-webkit-linear-gradient(top, #FFBA00, #D96301);background-image:-o-linear-gradient(top, #FFBA00, #D96301);background-image:linear-gradient(top, #FFBA00, #D96301);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBA00', endColorstr='#D96301', GradientType=0);
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color:#D96301 #D96301 #964300;
  border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

/* profile page: associated accounts */

a.associated_account {
   width: 32px; height: 32px; margin: 3px; float: left;
}

a.facebook {
   background: #FFF url(/img/small/facebook_gray.png) no-repeat center center;
}

a.facebook:hover {
   background: #FFF url(/img/small/facebook.png) no-repeat center center;
}

a.twitter {
   background: #FFF url(/img/small/twitter_gray.png) no-repeat center center;   
}
a.twitter:hover {
   background: #FFF url(/img/small/twitter.png) no-repeat center center;
}
a.google {
background: #FFF url(/img/small/google_gray.png) no-repeat center center
}
a.google:hover {
background: #FFF url(/img/small/google.png) no-repeat center center
}
a.yahoo {
background: #FFF url(/img/small/yahoo_gray.png) no-repeat center center;
}
a.yahoo:hover {
background: #FFF url(/img/small/yahoo.png) no-repeat center center;
}

/* buy a gift page */

.shop-logos li { /*media-grid*/
  display: inline-block;
  width: 116px;
}



