

/* Override some defaults */
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
  background: #fff;
}

h1, h2, h3 {
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: normal;
}

.content h2 {
  line-height: 24px;
}

h3.big {
  text-transform: none;
  letter-spacing: 0;
  font-size: 300%;
}

h4 {
  font-weight: normal;
}

.footer {
  background-color: #E8E8E8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E8E8E8), to(#ffffff)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #E8E8E8, #ffffff); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #E8E8E8, #ffffff); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #E8E8E8, #ffffff); /* IE10 */
  background-image:      -o-linear-gradient(top, #E8E8E8, #ffffff); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #E8E8E8, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E8E8E8', EndColorStr='#ffffff', GradientType=0); /* IE6-IE9 */
  border-top: 1px solid #AFAFAF;
}

.container > .footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}

/* Page header tweaks */
.page-header {
  background-color:#00AFF0;
  padding: 20px 20px 10px;
  margin: 0px -20px 20px;
  border:0;
  box-shadow: none;
  max-height: 310px;
}

.page-header h1 {
  color: #fff;
  text-shadow: #0D6C89 2px 2px 1px;
}

.page-header a, .page-header p {
  color: #fff;
}

.page-header h2 {
  color: #01678A;
  text-transform: none;
  letter-spacing: 0px;
  margin-top: -10px;
}

.topbar .brand {
  font-size: 10px;
}
.topbar img.brand {
	padding:8px 8px 6px 16px;	
}
.topbar .brand:before {
  font-size: 170%;
  line-height: 0px;
  vertical-align: sub;
  padding-right: 6px;
}

.topbar {
  height: 54px;
}

.topbar .fill {
  background:url("/img/header-bg.jpg") repeat-x #0083B1;

}

.topbar div > ul, .nav {
  margin: 5px 10px 0 0;
}

.topbar a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 17px 17px;
}

.topbar a:hover {
  text-decoration: none;
}
.topbar div > ul a, .nav a {
	padding:10px 3px 11px;	
}
.topbar a span {
  display: block;
  padding: 3px 10px 2px;
  border-radius: 12px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  -webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;
}

.topbar a:hover span, .topbar a.active span {
  background: #00516F;
  border-top: 1px solid #004057;
  border-left: 1px solid #004057;
}

.topbar .btn {
  border: 0;
}

big {
  font-size:150%;
}

a.danger {
  color:red;
}

.well ul.unstyled li {
  color: #404040;
}

.currently-logged-in {color: #fff;}

/* delete crosses*/
.label a {
  color: #fff;
}

label {
  text-align: left;
}

a.delete {
  text-indent: -99999em;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/img/recycle-icon.png") no-repeat center center;
}

/* LOGIN PAGE */
a.login_provider {
   text-indent: -9999em;
   width: 100px; 
   height: 60px;
   border: 1px solid #DDD;
   margin: 3px;
   float: left;
}

a.login_provider:hover {
   border: 1px solid black;
}

/*buttons*/

.btn.large {
  text-transform: uppercase;
  font-size: 130%;
}

.btn.primary{
  color:#ffffff;
  background-color:#D96301;
  background-repeat:repeat-x;
  background-image:-khtml-gradient(linear, left top, left bottom, from(#FFBA00), to(#D96301));
  background-image:-moz-linear-gradient(top, #FFBA00, #D96301);background-image:-ms-linear-gradient(top, #FFBA00, #D96301);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFBA00), color-stop(100%, #D96301));
  background-image:-webkit-linear-gradient(top, #FFBA00, #D96301);background-image:-o-linear-gradient(top, #FFBA00, #D96301);background-image:linear-gradient(top, #FFBA00, #D96301);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBA00', endColorstr='#D96301', GradientType=0);
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color:#D96301 #D96301 #964300;
  border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

/* profile page: associated accounts */

a.associated_account {
   width: 32px; height: 32px; margin: 3px; float: left;
}

a.facebook {
   background: #FFF url(/img/small/facebook_gray.png) no-repeat center center;
}

a.facebook:hover {
   background: #FFF url(/img/small/facebook.png) no-repeat center center;
}

a.twitter {
   background: #FFF url(/img/small/twitter_gray.png) no-repeat center center;   
}
a.twitter:hover {
   background: #FFF url(/img/small/twitter.png) no-repeat center center;
}
a.google {
background: #FFF url(/img/small/google_gray.png) no-repeat center center
}
a.google:hover {
background: #FFF url(/img/small/google.png) no-repeat center center
}
a.yahoo {
background: #FFF url(/img/small/yahoo_gray.png) no-repeat center center;
}
a.yahoo:hover {
background: #FFF url(/img/small/yahoo.png) no-repeat center center;
}

/* buy a gift page */

.shop-logos li { /*media-grid*/
  display: inline-block;
}
form .clearfix {
	padding-left:10px !important;	
}
.content-container {
	min-height:500px;	
}


/*Footer styles taken from bootstrap.min.css*/
.footer {
	display:block;margin-top:17px;padding-top:17px;	
}


/*home page*/
.home-list ol {
  font-size: 500%;
  font-family: serif;
  margin-left: 0;
  list-style-type: none;
  *list-style-type: decimal; /* hack for IE6 and IE7 */
  counter-reset: x;
}

.home-list ol.right {
  counter-reset: x 4;
}

.home-list li:before {
  content: counter(x) " ";
  float: left;
  margin: 30px 20px 0 0;
  height: 70px;
}

.home-list li {
  color: #aaa;
  counter-increment: x;
  clear: left;
}

.home-list p, .home-list h4 {
  color: #404040;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}